.map { 
 text-align: center; /* 수평 가운데 정렬 */
 display: flex; /* 컨테이너 내부 컨텐츠 정렬을 위해 flex 사용 */
 align-items: center; /* 수직 가운데 정렬 */
 justify-content: center; /* 수평 가운데 정렬 */
 flex-direction: column; 
 
 
 } 
.placesList,.mapList-item { 
 margin: 0; 
 padding: 0; 
 list-style: none; 
 text-align: left; 
 max-height: 200px; /* 최대 높이를 설정 */
 overflow-y: auto; /* 내용이 높이를 초과할 경우 스크롤이 나타남 */
 text-align: center; 

 } 

 
.map_wrap { 
 position:absolute; 
 bottom: 0; 
 left:-10px; 
 margin:10px 0 30px 10px; 
 padding:5px; 
 overflow-y: auto; 
 background:rgba(255, 255, 255, 0.7); 
 width: 360px; 
 z-index: 3; 
 font-size:11px; 
 border-radius: 17px; 
 height: 250px;
 } 
#myMap { 
 position: relative; 
 } 
.search-marker-hide-box { 
  display: flex;
  width: 340px;
  position: absolute;
  text-align: center;
  left: 50%;
  top:  2%;
  transform: translateX(-50%);
  z-index: 3;
  justify-content: space-between;
  gap: 8px;
 } 
 .search-festival-input{
  border: 1px solid #f2f0f0;  
  padding: 8px;
  border-radius: 5px;
  outline: none;
  text-align: center;
  width: 270px;
  font-size: 20px;
 }
.mapList-item { 
 border-bottom: 1px solid #ccc; 
 margin-bottom: 5px; 
 } 
 .map_title{
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 0;
 }
 .mapList-item p{
  margin: 0;
  padding: 0px;
 }
.place_place_name { 
 font-weight: bold; 
 font-size: 5px; 
 } 
 #place_address_name, #place_phone{
  font-size: 14px;
 }
#place_address_name { 
 color: blue; 
 margin-top: 5px;
 } 
#place_phone { 
 color: forestgreen; 
 } 
 .search_btn{
  background-color: rgb(84 85 182);
  border: rebeccapurple;
  border-radius: 10px;
  color: #ffff;
  width: 70px;
  height: 40px; 
  cursor: pointer;
  font-size: 20px;
 }

.marker-hide-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
}
.map-marker-name,
.map-marker-address-name,
.map-marker-phone
{
  width: 152px;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75em;
  margin: 0;
  padding: 0;
}

.map-marker-name{
  font-weight: bold;
}
.map-marker-address-name{
  color: blue;
}
.map-marker-phone{
  color: forestgreen;
  margin-bottom: 5px;
}
.please-wanna-search{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.map-back{
  color: #333;
  font-size: 30px;
  margin-bottom: 10px;
}


