.manner-score-modal{
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.322);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}
.manner-score-modal.active{
  visibility: visible;
  opacity: 1;
}
.manner-score-modal-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 90%;
  background-color: white;
  gap: 15px;
  padding: 15px 0;
  position: relative;
}
.manner-modal-close{
  color: var(--light-black);
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 15px;
  transition: 0.4s;
}
.manner-modal-close:hover{
  color: var(--dim-black);
}
.manner-score-modal-title{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.manner-score-modal-title .bi{
  font-size: 2em;
}
.manner-score-modal-title h1{
  font-size: 2em;
}
.manner-score-modal-check{
  border: 2px solid var(--maincolor);
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.manner-score-modal-check label{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.manner-score-modal-check label span{
  font-size: 1.3em;
}

.manner-check-box{
  display: none;
}
.manner-check{
  vertical-align: middle;
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 2px solid var(--maincolor); 
  font-style: normal;
  border-radius: 5px;
  position: relative;
  border-radius: 50%;
}

.manner-score-modal-check input[type=radio]:checked ~ .manner-check{
  border: 5px solid var(--maincolor);
}
/* manner-star-rating */
.manner-star-rating{
  display: flex;
  gap: 8px;
  font-size: 1.3em;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.manner-star-rating .manner-star{
  cursor: pointer;
  color: var(--dim-black);  
  transition: 0.4s;
}
.manner-star.active{
  color: gold;
}
/* review-complete-place */
.review-complete-place{
  width: 80%;
  display: flex;
  justify-content: center;
}
.review-complete-btn{
  width: 80%;
  color: white;
  background-color: var(--maincolor);
  font-size: 1.8em;
  border-radius: 20px;
  letter-spacing: 2px;
}